.cards {
  display: flex;
  justify-content: space-between;

  .card-stack {

    .player-card {    
      
      &:not(.require-pair) {
        border-color: transparent;
      }
      &.require-pair {

        &:not([disabled]) {
          border-color: intial;
        }
      }
    }
  }
}